@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  user-select: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratio-bar {
  position: relative;
  width: 100vw;
  height: 48px;
  min-height: 48px;
  appearance: none;
  border: none;
  background-color: #ddd;
  transition: all 0.5s;
}

.ratio-bar__progress {
  position: absolute;
  height: 100%;
  transition: all 0.5s;
}

.ratio-bar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: all 0.5s;
  font-weight: bold;
}

.board {
  margin-top: 64px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(155, 155, 155);
  pointer-events: none;
}

.pgn {
  margin: 16px 0;
  max-width: 400px;
  text-align: center;
}

.choices {
  width: 500px;
}

.choice {
  margin: 8px;
  padding: 16px;
  width: 100%;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(202, 202, 202);
  transition: all 0.5s;
}

.github {
  position: fixed;
  right: 16px;
  bottom: 16px;
  font-size: 14px;
  color: grey;
}

.github:hover {
  text-decoration: underline;
}
